################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POC.ChatSignal.Back/POC.ChatSignal.API/bin/Debug/net8.0
/POC.ChatSignal.Back/POC.ChatSignal.Service/bin/Debug/net8.0
/POC.ChatSignal.Back/POC.ChatSignal.Service/obj/Debug/net8.0/ref/POC.ChatSignal.Service.dll
/POC.ChatSignal.Back/POC.ChatSignal.Service/obj/Debug/net8.0/refint/POC.ChatSignal.Service.dll
/POC.ChatSignal.Back/POC.PromoSignal.Sql/obj/Debug/net8.0/ref/POC.ChatSignal.Sql.dll
/POC.ChatSignal.Back/POC.PromoSignal.Sql/obj/Debug/net8.0/refint/POC.ChatSignal.Sql.dll
/POC.ChatSignal.Back/POC.PromoSignal.Sql/obj/Debug/net8.0/POC.ChatSignal.Sql.AssemblyInfo.cs
/POC.ChatSignal.Back/POC.PromoSignal.Sql/obj/Debug/net8.0/POC.ChatSignal.Sql.AssemblyInfoInputs.cache
/POC.ChatSignal.Back/POC.PromoSignal.Sql/obj/Debug/net8.0/POC.ChatSignal.Sql.csproj.AssemblyReference.cache
/POC.ChatSignal.Back/POC.PromoSignal.Sql/obj/Debug/net8.0/POC.ChatSignal.Sql.csproj.CoreCompileInputs.cache
/POC.ChatSignal.Back/POC.PromoSignal.Sql/obj/Debug/net8.0/POC.ChatSignal.Sql.dll
/POC.ChatSignal.Back/POC.PromoSignal.Sql/obj/Debug/net8.0/POC.ChatSignal.Sql.pdb
/POC.ChatSignal.Back/POC.PromoSignal.Sql/obj/Debug/net8.0/POC.ChatSignal.Sql.sourcelink.json
/POC.ChatSignal.Back/POC.ChatSignal.Service/obj/Debug/net8.0/POC.ChatSignal.Service.AssemblyInfo.cs
/POC.ChatSignal.Back/POC.ChatSignal.Service/obj/Debug/net8.0/POC.ChatSignal.Service.AssemblyInfoInputs.cache
/POC.ChatSignal.Back/POC.ChatSignal.Service/obj/Debug/net8.0/POC.ChatSignal.Service.csproj.CoreCompileInputs.cache
/POC.ChatSignal.Back/POC.ChatSignal.Service/obj/Debug/net8.0/POC.ChatSignal.Service.csproj.FileListAbsolute.txt
/POC.ChatSignal.Back/POC.ChatSignal.Service/obj/Debug/net8.0/POC.ChatSignal.Service.dll
/POC.ChatSignal.Back/POC.ChatSignal.Service/obj/Debug/net8.0/POC.ChatSignal.Service.pdb
/POC.ChatSignal.Back/POC.ChatSignal.Service/obj/Debug/net8.0/POC.ChatSignal.Service.sourcelink.json
/POC.ChatSignal.Back/POC.ChatSignal.Service/obj/POC.ChatSignal.Service.csproj.nuget.dgspec.json
/POC.ChatSignal.Back/POC.ChatSignal.Service/obj/project.assets.json
/POC.ChatSignal.Back/POC.ChatSignal.Service/obj/project.nuget.cache
/POC.ChatSignal.Back/POC.PromoSignal.Sql/bin/Debug/net8.0/POC.ChatSignal.Domain.dll
/POC.ChatSignal.Back/POC.PromoSignal.Sql/bin/Debug/net8.0/POC.ChatSignal.Domain.pdb
/POC.ChatSignal.Back/POC.PromoSignal.Sql/bin/Debug/net8.0/POC.ChatSignal.Sql.dll
/POC.ChatSignal.Back/POC.PromoSignal.Sql/bin/Debug/net8.0/POC.ChatSignal.Sql.pdb
