<!-- Side navigation -->
<div class="sidenav">
    <div class="container-logo">
        <img src="assets/images/logo.png" style="width: 50%;" />
        <a (click)="logout()">Sair</a>
    </div>


    <div id="users" *ngFor="let usuario of usuarios">
        <div (click)="selecionarUsuarioConversa(usuario.email)" class="container-user-item">
            <img src="assets/images/logo.png" style="width: 20%;" />
            <div class="d-flex flex-column">
                <span>{{usuario.nome}} ({{(usuario.isOnline ? 'online' : 'offline')}})</span>
                <span class="email">{{usuario.email}}</span>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="main">
    <div class="container-messages d-flex flex-column-reverse">
        <div>
            <div *ngFor="let msg of mensagens" class="message message-left"
                [ngClass]="msg.usuario.id != usuarioLogado.id ? 'message-left' : 'message message-right'">
                <div class="message-head">
                    <img src="assets/images/chat.png" />
                    {{ msg.usuario.nome }}
                </div>
                <div class="message-message">
                    {{ msg.mensagem.texto }}
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="nomeGrupo">
        <form class="container-button" [formGroup]="formChat" (submit)="enviarMensagem()">
            <input type="text" placeholder="Mensagem" formControlName="mensagem" />
            <button type="submit" class="btn-send" [disabled]="formChat.invalid"></button>
        </form>
    </div>

</div>