<!-- Side navigation -->
<div class="sidenav">
    <div class="container-logo">
            <img src="assets/images/logo.png" style="width: 50%;"/>
    </div>
    <div id="users">
    <div class="container-user-item">
        <img src="assets/images/logo.png" style="width: 20%;"/>
        <div>
            <span>Aline (online)</span>
            <span class="email">aline123.com</span>
        </div>
    </div>
    <div class="container-user-item">
        <img src="assets/images/logo.png" style="width: 20%;"/>
        <div>
            <span>Aline (offline)</span>
            <span class="email">aline123.com</span>
        </div>
    </div>
    </div>
    
</div>

<!-- Page content -->
<div class="main">
    <div class="container-messages">
        <div class="message message-left">
            <div class="message-head">
                <img src="assets/images/chat.png" />   
                Aline
            </div>
            <div class="message-message">
                Olá José! Como vai?
            </div>
            
            
        </div>
        <div class="message message-right">
            <div class="message-head">
                <img src="assets/images/chat.png" />   
                Eu
            </div>
            <div class="message-message">
                Olá José! Como vai?
            </div>
        </div>

    </div>
    
    <div class="container-button">
        <input type="text" placeholder="Mensagem" />    
        <button class="btn-send"></button>
    </div>
    
</div>