<div class="container-login">
    <form [formGroup]="formCadastro" (submit)="salvar()">
        <img width="100px" src="assets/images/logo.png" />
        <h1>ChatWeb</h1>
        <div class="container-form">
            <input type="text" placeholder="Nome" formControlName="nome" />
            <br />
            <input type="text" placeholder="E-mail" formControlName="email" />
            <br />
            <input type="password" placeholder="Senha" formControlName="senha" />

            <div class="container-button">
                <input type="submit" value="CADASTRAR" [disabled]="formCadastro.invalid" />
            </div>
        </div>
    </form>
</div>