<div class="container-login">
    <img width="100px" src="assets/images/logo.png" />
    <h1>ChatWeb</h1>
    <div class="container-form">
        <form [formGroup]="formLogin" (submit)="login()">
            <input type="text" placeholder="E-mail" formControlName="email" />
            <br />
            <input type="text" placeholder="Senha" formControlName="senha" />

            <div class="container-button">
                <input type="submit" value="ACESSAR" />
                <input type="button" value="CADASTRAR" routerLink="/cadastro-usuario" />
            </div>
        </form>
    </div>
</div>